extends layout

block content
  br
  div.form-group.has-success
    label.control-label(for='inputSuccess1') 입력
    input#inputSuccess1.form-control(type='text')
    button.btn.btn-default(type='button') 확인
